[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/calintat/minimal.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "hermit"]
	path = themes/hermit
	url = git@github.com:AntaresP/hermit.git
